modules = ["nodejs-20"]
[nix]
channel = "stable-25_05"
packages = ["unzip"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "dev-server"

[[workflows.workflow]]
name = "dev-server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd partners.dashboard.nextjs && npm install && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 23636
externalPort = 3000

[userenv]

[userenv.shared]
VITE_AZAPAL_BASE_URL_LOCAL = "https://c4156d2e-7c67-4914-a4a2-7a9d537a12e9-00-1g8ewg0ywjjjo.spock.replit.dev/api/v1/account/"
VITE_ACCOUNT_BASE_URL_LOCAL = "https://c4156d2e-7c67-4914-a4a2-7a9d537a12e9-00-1g8ewg0ywjjjo.spock.replit.dev/api/v1/account/"
