@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import "tailwindcss";

.fresca-regular {
    font-family: "Fresca", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    font-family: "Inter", sans-serif;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE10+/Edge */
    user-select: none;         /* Standard */
    background-color: rgba(244, 247, 251, 1);

}

.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 40
}

@container(max-width:120px){.table-57b1f44f-6837-4cd5-81a2-24c11744074d-column-120{display: none;}}
@container(max-width:240px){.table-57b1f44f-6837-4cd5-81a2-24c11744074d-column-240{display: none;}}
@container(max-width:360px){.table-57b1f44f-6837-4cd5-81a2-24c11744074d-column-360{display: none;}}
